<h2 id='top'>Online payment system</h2>
<div class="col-md-2"></div>
<div class="col-md-8 container">
  {{#if isProcessing}}
    <div class="row loading">
      <i class="fa fa-spinner fa-spin fa-4x col-sm-offset-6"></i>
    </div>
  {{else}}
  <div class="row">
    <span class="col-sm-6 col-sm-offset-3 amount">Amount to pay: {{model.amount}}</span>
  </div>
    <div class="row">
       {{validated-input class="col-sm-6 col-sm-offset-3" model=model valuePath='pan' placeholder='Card number'}} {{validated-input class="col-sm-6 col-sm-offset-3" model=model valuePath='securityCode'
      placeholder='Security code'}} {{validated-input class="col-sm-6 col-sm-offset-3" model=model valuePath='cardHolderName' placeholder='Card holder name'}} {{validated-input class="col-sm-6 col-sm-offset-3" model=model valuePath='expiryDate' placeholder='Card
      expiry date, M/YYYY'}}
    </div>
    <div class="row">
      <a class="btn btn-success col-sm-offset-8" {{action 'submitPayment' model}}>Confirm payment</a>
    </div>
  {{/if}}
</div>
<div class="col-md-2"></div>
